*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Comic Neue', cursive;
}

header{
    background-color: white;
    padding: .5rem;
    width: 80vw;
    height: 25vh;
    margin: 20px 10%;
    background-image: url(../assets/design1_image2.jpg);
    background-size: cover;
    background-position: 0 40%;
    position: absolute;
    top: 5%;
}

header h1{
    position: relative;
    bottom: 30%;
}

nav{
    position:relative;
    left: 60%;
    bottom: 38%;
}

nav a{
    display: inline-block;
    width: 5rem;
    height: 2rem;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    border-color: black;
    border-style:solid;
    border-width: 0.1rem;
    
}

header h2{
    text-align: center;
    border-color: black;
    border-style: solid ;
    width: 80vw;
    position:relative;
    top:61%;
    right:0.6%;
}

aside{
    position:absolute;
    margin-left: 10%;
    margin-right: 80%;
    top:40%;
    padding: 1rem;
}

#logoduck{
    width: 150px;
    position: relative;
}

#imghockey{
    width:150px;
   position: relative;
   bottom:20%;
}

section{
    position:absolute;
    margin-left: 25%;
    margin-right: 13%;
    top:40%;
    padding: .5rem;
}

section p{
    padding-bottom: 1rem;
}